[submodule "awesome-selfhosted"]
	path = awesome-selfhosted
	url = https://github.com/awesome-selfhosted/awesome-selfhosted.git
[submodule "awesome-sysadmin"]
	path = awesome-sysadmin
	url = https://github.com/awesome-foss/awesome-sysadmin
[submodule "awesome-go"]
	path = awesome-go
	url = https://github.com/avelino/awesome-go.git
